@model BookLibarySystem.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Add New Book</h4>
                <p>Provide the details for the new book</p>
            </div>
            <div class="tab-inn">
                @using (Html.BeginForm("Create", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="input-field col s6">
                            <select id="authorDropdown" name="AuthorId" class="">
                                <option value="">Select Author</option>
                                @foreach (var author in ViewBag.Authors)
                                {
                                    <option value="@author.AuthorId">@author.FirstName</option>
                                }
                            </select>
                            @Html.LabelFor(model => model.AuthorId, "AuthorId", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.AuthorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.Title)
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "validate" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.Image1)
                            <input type="file" name="Image1" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Image1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.Image2)
                            <input type="file" name="Image2" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Image2, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.ISBN)
                            @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "validate" } })
                            @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.Price)
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "validate" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.Description)
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "validate" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.CreatedAt)
                            @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "validate" } })
                            @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-field col s6">
                            @Html.LabelFor(model => model.Category)
                            @Html.EnumDropDownListFor(model => model.Category, htmlAttributes: new { @class = "validate" })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Create" />
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>
